<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

</style>
<body>

<!-- Navbar -->

<header id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Gaia GPS - How To Instructions</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Torrey Hogan</p>
    </div>
  </header>

<div class="w3-main" style="margin-left:150px">

	<div >
		<div class="w3-row w3-padding-64">
	   
	      <h1 class="w3-text-teal">Ultralight Backpacking - The Big Three</h1>
	      <p>A heavy pack can make backpacking a burden instead of an adventure. Lightening your backpacking kit can have drastic effects on your daily milage and physical exertion. The Big Three are your three main pieces of gear, which include shelter, sleeping system, and backpack. These items make up the majority of pack weight and are usually the most glaring overweight pieces of gear. The following is a guide to lighten your backpacking gear, focusing on The Big Three.</p>
	    
	  </div>
	 </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Shelter</h1>
      <p>Shelters provide protection from the elements. Shelters usually consist of tents or tarps. A tent is a fully enclosed shelter that protects from weather and bugs. A tarp is an exposed shelter that offers protection from weather but not bugs. <br><br>Tents come in single wall and double wall. Double wall tents have an external rain proof layer and an internal bug proof layer. The separate layers prevent condensation from forming on the inside of the tent. Double walls provide very good rain protection and ventilation.  Single wall tents only have one layer that doubles as bug and weather protection. Single wall tents can be much lighter than a double wall tent, but the weight reduction comes at a a price. Condensation and breathability are significantly worse in a single wall tent. <br><br> Tarps are the lightest option. They can provide excellent weather protection, but require skill to properly pitch. A single tarp can be pitched many different ways depending on the site. Tarps do not offer bug protection and may be impractical in heavy mosquito areas.  </p>
    </div>
    <div class="w3-third w3-container">
    	<img src="https://s3.amazonaws.com/images.gearjunkie.com/uploads/2016/01/cuben-tent.jpg" width="250">
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Sleeping System</h1>
      <p>A sleeping system usually consist of a sleeping bag/quilt and a sleeping pad (we won't get into hammocks). <br> <br>
      A sleeping quilt is similar to a sleeping bag, but without out a back(the part you lay on). This cuts down on weight and results in sleeping quilts be slightly lighter than sleeping bags. Whether you choose a sleeping quilt or bag, you the bag should be made with a synthetic shell and down insulation. Ultralight sleeping bags/quilts should weigh around two pounds. <br><br> Sleeping pads insulate you from the cold hard ground. There are three types: air pads, self inflating pads, and closed-cell foam pads. Air pads can be inflated using breath and offer the most comfort, but are prone to puncture. Self-inflating pads are made of an inflatable shell with foam inside the shell. These don't require breath to inflate, but come with a weight penalty. Closed-cell foam pads are made of foam filled with tiny closed air cells. They are very durable, but offer less cushon. Ultralight sleeping pads should weigh around one pound.  </p>
    </div>
    <div class="w3-third w3-container">
    	<img src="http://www.zpacks.com/images/quilts/classic/ultralight-backpacking-quilt-l.jpg" width="250" >
   
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Backpack</h1>
      <p>A good backpack should distribute weight between your shoulders and hips allowing all day hiking without irritation. There are three types of backpacks: internal frame, frameless, and external frame. <br><br>Internal frame backpacks have frames made from aluminum or carbon fiber inside the backpack. A frame gives the pack structure allowing the pack weight to be distributed to the hips. The adds comfort but comes at a weight penalty. A good internal framed backpack should weigh around 3 pounds. <br><br>Frameless pack have no rigid structural components. The packs structure is formed through proper packing and compression. Frameless packs are by far the lightest pack option, but require a low pack weight and good packing. Frameless packs should not be used if your pack weight ever exceeds 20 pounds. A good frameless backpack should weigh around 1 pound.<br><br>External frames have tubular aluminum frames outside of the pack fabric. They are the heaviest and are generally considered to be outdated. </p>
    </div>
    <div class="w3-third w3-container">
    	<img src="http://1.bp.blogspot.com/-lQ4m35r4kg0/U64JBBk7oiI/AAAAAAABwyQ/Z8sSilTxQ-M/s1600/2010burnnfront.jpg" height="250">

    </div>
  </div>

  



<!-- END MAIN -->
</div>
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Torrey Hogan</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>hogantorrey@gmail.com </p>
    </div>
  </footer>



</body>
</html>
